<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.system.persistence.AppConfigMapper">

	<resultMap id="BaseResultMap" type="com.bdxh.system.entity.AppConfig">
	  <id column="id" jdbcType="BIGINT" property="id"/>
	  <result column="app_id" jdbcType="BIGINT" property="appId"/>
	  <result column="app_name" jdbcType="VARCHAR" property="appName"/>
	  <result column="app_desc" jdbcType="VARCHAR" property="appDesc"/>
	  <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
	  <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
	  <result column="operator" jdbcType="BIGINT" property="operator"/>
	  <result column="remark" jdbcType="VARCHAR" property="remark"/>
	</resultMap>

	<sql id="BaseColumns">
	  id,app_id,app_name,app_desc,create_date,update_date,operator,remark
	</sql>

	<select id="getAppConfigAllCount" resultType="java.lang.Integer">
	  SELECT 
	  COUNT(1)
	  FROM sys_app_config 
	</select>

	<delete id="delAppConfigInIds" parameterType="java.lang.Integer">
	  DELETE
	  FROM sys_app_config
	  WHERE
	  id IN
	  <foreach collection = "ids" item = "id" separator = "," open = "(" close = ")" >
	    #{id, jdbcType = BIGINT}
	  </foreach >
	</delete>

	<select id="getByAppConfigName" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="BaseColumns"/>
		from sys_app_config where app_name = #{appName} limit 1;
	</select>

<!--
	<select id="getByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="BaseColumns"/>
		FROM
		sys_app_config
		<where>
			<if test="appName !=null and appName !=''">
				AND app_name = #{appName}
			/*app_name LIKE CONCAT(CONCAT('%',#{appName,jdbcType = VARCHAR},'%'))*/
			/*	app_name LIKE concat('%',#{appName},'%')*/
			/* app_name LIKE CONCAT(CONCAT('%',#{appName}),'%')*/
			</if>
		</where>
		ORDER BY
		create_date DESC
	</select>
-->

	<!--带条件的查询-->
	<select id="getByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="BaseColumns"/>
		FROM
		sys_app_config
		<where>
			<if test="appName !=null and appName !=''">
				app_name LIKE CONCAT(CONCAT('%',#{appName}),'%')
			</if>
		</where>
		ORDER BY create_date DESC
	</select>


</mapper>
