<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.system.persistence.AppConfigSecretMapper">

	<resultMap id="BaseResultMap" type="com.bdxh.system.entity.AppConfigSecret">
	  <id column="id" jdbcType="BIGINT" property="id"/>
	  <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
	  <result column="school_code" jdbcType="VARCHAR" property="schoolCode"/>
	  <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
	  <result column="app_id" jdbcType="BIGINT" property="appId"/>
	  <result column="mch_id" jdbcType="BIGINT" property="mchId"/>
	  <result column="mch_name" jdbcType="VARCHAR" property="mchName"/>
	  <result column="app_secret" jdbcType="VARCHAR" property="appSecret"/>
	  <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
	  <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
	  <result column="operator" jdbcType="BIGINT" property="operator"/>
	  <result column="remark" jdbcType="VARCHAR" property="remark"/>
	</resultMap>

	<sql id="BaseColumns">
	  id,school_id,school_code,school_name,app_id,mch_id,mch_name,app_secret,create_date,update_date,operator,remark
	</sql>

	<select id="getAppConfigSecretAllCount" resultType="java.lang.Integer">
	  SELECT 
	  COUNT(1)
	  FROM sys_app_config_secret 
	</select>

	<delete id="delAppConfigSecretInIds" parameterType="java.lang.Integer">
	  DELETE
	  FROM sys_app_config_secret
	  WHERE
	  id IN
	  <foreach collection = "ids" item = "id" separator = "," open = "(" close = ")" >
	    #{id, jdbcType = BIGINT}
	  </foreach >
	</delete>

	<select id="isAppConfigSecretExist" parameterType="java.util.Map" resultType="java.lang.Integer">
		select 1 from sys_app_config_secret
		<where>
			<if test="appId != null">
		  		and app_id = #{appId}
			</if>
		    <if test="schoolCode!=null and schoolCode!=''">
				and school_code = #{schoolCode}
			</if>
			<if test="mchName != null and mchName!=''">
		        and mch_name = #{mchName}
			</if>
		</where>
		limit 1;
	</select>

	<select id="getByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
		select <include refid="BaseColumns"/> from sys_app_config_secret
		<where>
		    <if test="schoolCode!=null and schoolCode!=''">
				and	school_code LIKE CONCAT(CONCAT('%',#{schoolCode}),'%')
			</if>
			<if test="appId!=null">
				and	app_id LIKE CONCAT(CONCAT('%',#{appId}),'%')
			</if>
			<if test="mchId!= null">
				and	mch_id LIKE CONCAT(CONCAT('%',#{mchId}),'%')
			</if>
			<if test="mchName!=null and mchName!=''">
				and	mch_name LIKE CONCAT(CONCAT('%',#{mchName}),'%')
			</if>
		</where>
		order by create_date desc
	</select>

</mapper>