<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.bdxh.system.persistence.DeptMapper">
      <resultMap id="BaseResultMap" type="com.bdxh.system.entity.Dept">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="parent_ids" jdbcType="VARCHAR" property="parentIds" />
    <result column="dept_name" jdbcType="BIGINT" property="deptName" />
    <result column="dept_full_name" jdbcType="VARCHAR" property="deptFullName" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="level" jdbcType="TINYINT" property="level" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="operator" jdbcType="BIGINT" property="operator" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

    <sql id="BaseColumns">
   id,parent_id,parent_ids,dept_name,dept_full_name,sort,`level`,create_date,update_date,operator,remark
    </sql>

    <!--带条件的查询-->
  <select id="getByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
      SELECT
      <include refid="BaseColumns"/>
      FROM
      sys_dept
     <where>
      <if test="deptFullName !=null">
          dept_full_name LIKE CONCAT(CONCAT('%',#{deptFullName}),'%')
      </if>
     </where>
  </select>

    <!-- 根据父级部门id查询-->
    <select id="findDeptByParentId" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM
        sys_dept
        WHERE id=#{id} and parent_id=#{parentId};
    </select>

    <!-- 根据父id查询所有子集合-->
    <select id="selectByParentId" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM
        sys_dept
        WHERE  parent_id=#{parentId};
    </select>


    <!-- 根据部门名称查询部门 -->
    <select id="getByDeptName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select <include refid="BaseColumns"/>
        from sys_dept where dept_full_name = #{deptFullName} limit 1;
    </select>

</mapper>