<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.system.persistence.DictMapper">
  <resultMap id="BaseResultMap" type="com.bdxh.system.entity.Dict">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="operator" jdbcType="BIGINT" property="operator" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="BaseColumns">
    id,`name`,`type`,create_date,update_date,operator,remark
  </sql>

  <select id="getByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
    select <include refid="BaseColumns"/>
    from sys_dict
    <where>
      <if test="name !=null">
        `name` LIKE CONCAT(CONCAT('%',#{name},'%'))
      </if>
      <if test="type !=null">
        `type`=#{type}
      </if>
    </where>
    ORDER BY create_date DESC
  </select>

  <!-- 根据字典名称查询字典 -->
  <select id="getByDictName" parameterType="java.lang.String" resultMap="BaseResultMap">
  select <include refid="BaseColumns"/>
  from sys_dict where `name` = #{name} limit 1;
  </select>

</mapper>