<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.system.persistence.RoleMapper">
  <resultMap id="BaseResultMap" type="com.bdxh.system.entity.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="operator" jdbcType="BIGINT" property="operator" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <sql id="BaseColumns">
    id,role,role_name,create_date,update_date,operator,remark
  </sql>

  <select id="getByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
    select <include refid="BaseColumns"/>
    from sys_user_role
    <where>
      <if test="role !=null">
        role=#{role}
      </if>
      <if test="roleName != null">
        and role_name=#{roleName}
      </if>
      <if test="createDate != null">
        <![CDATA[AND create_date >= #{createDate}]]>
      </if>
      <if test="updateDate != null">
        <![CDATA[AND update_date <= #{updateDate}]]>
      </if>
    </where>
    order by create_date desc
  </select>

  <!-- 根据用户id查询角色列表 -->
  <select id="getRoleListByUserId" parameterType="java.lang.Long" resultType="java.lang.String">
    select role.role from sys_user user, sys_user_role user_role, sys_role role where user.id = user_role.user_id and role.id = user_role.role_id and user.id = #{userId}
  </select>

  <!-- 根据角色查询角色信息 -->
  <select id="getRoleByRole" parameterType="java.lang.String" resultMap="BaseResultMap">
    select <include refid="BaseColumns"/>
    from sys_role where role = #{role}
  </select>
  <!-- 查询全部角色信息 -->
  <select id="getRoleList" resultMap="BaseResultMap">
    SELECT
    <include refid="BaseColumns"/>
    FROM
    sys_role
    ORDER BY
    create_date
    DESC
  </select>

</mapper>