<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.system.persistence.RolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.bdxh.system.entity.RolePermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="permission_id" jdbcType="BIGINT" property="permissionId" />
    <result column="rp_switch" jdbcType="TINYINT" property="RpSwitch" />
    <result column="selected" jdbcType="TINYINT" property="selected" />
    <result column="checked" jdbcType="TINYINT" property="checked" />
    <result column="indeterminate" jdbcType="TINYINT" property="indeterminate" />
  </resultMap>

  <sql id="BaseColumns">id,role_id,permission_id,rp_switch,selected,checked,indeterminate</sql>

  <delete id="deleteByRoleId" parameterType="java.lang.Long">
    delete from sys_role_permission where role_id = #{roleId,jdbcType=BIGINT}
  </delete>

    <select id="findPermissionIdByRoleId" resultType="java.lang.Long">
      SELECT
      permission_id
      FROM sys_role_permission WHERE role_id = #{roleId,jdbcType=BIGINT}
    </select>

  <select id="findPermissionId" parameterType="java.util.Map" resultMap="BaseResultMap">
      SELECT
    <include refid="BaseColumns"/>
      FROM sys_role_permission WHERE role_id = #{roleId,jdbcType=BIGINT}
  </select>

  <select id="findPermissionList" parameterType="java.util.Map" resultMap="BaseResultMap">
      SELECT
    <include refid="BaseColumns"/>
      FROM sys_role_permission
    where role_id = #{roleId} AND rp_switch = #{RpSwitch}
  </select>





</mapper>