<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.servicepermit.persistence.ServiceRolePermitMapper">

    <resultMap id="BaseResultMap" type="com.bdxh.servicepermit.entity.ServiceRolePermit">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="school_code" jdbcType="VARCHAR" property="schoolCode"/>
        <result column="card_number" jdbcType="VARCHAR" property="cardNumber"/>
        <result column="service_user_id" jdbcType="BIGINT" property="serviceUserId"/>
        <result column="service_role_id" jdbcType="BIGINT" property="serviceRoleId"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <sql id="BaseColumns">
	  id,school_code,card_number,service_user_id,service_role_id,create_date,update_date,remark
	</sql>
    <select id="getServiceRolePermitAllCount" resultType="Integer">
	  SELECT
	   COUNT(1)
	  FROM t_service_role_permit 
	</select>


    <delete id="delServiceRolePermitInIds" parameterType="Integer">
        DELETE
        FROM t_service_role_permit
        WHERE
        id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id, jdbcType = BIGINT}
        </foreach>
    </delete>

    <select id="findServiceRolePermitInfoVo" resultType="com.bdxh.servicepermit.vo.ServiceRolePermitInfoVo">
        SELECT
        `user`.family_id as familyId,
        `user`.card_number as familyCardNumber,
        `user`.student_number as studentCardNumber,
        `user`.student_name as studentName,
        `user`.type as type,
        `user`.id as serviceUserId,
         permit.service_role_id as roleId
        FROM
        t_service_role_permit AS permit
        INNER JOIN t_service_user AS `user` ON permit.service_user_id = `user`.id
        <where>
            `user`.card_number =#{familyCardNumber}
            AND
            <!--正常使用的账户-->
            `user`.status= 1;
        </where>

    </select>

</mapper>
