<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.appburied.persistence.ApplyLogMapper">

    <resultMap id="BaseResultMap" type="com.bdxh.appburied.entity.ApplyLog">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="platform" jdbcType="TINYINT" property="platform"/>
        <result column="account_id" jdbcType="BIGINT" property="accountId"/>
        <result column="client_id" jdbcType="VARCHAR" property="clientId"/>
        <result column="model" jdbcType="TINYINT" property="model"/>
        <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
        <result column="school_code" jdbcType="VARCHAR" property="schoolCode"/>
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
        <result column="card_number" jdbcType="VARCHAR" property="cardNumber"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="app_name" jdbcType="VARCHAR" property="appName"/>
        <result column="app_package" jdbcType="VARCHAR" property="appPackage"/>
        <result column="operator_code" jdbcType="VARCHAR" property="operatorCode"/>
        <result column="operator_name" jdbcType="VARCHAR" property="operatorName"/>
        <result column="operator_status" jdbcType="TINYINT" property="operatorStatus"/>
        <result column="start_date" jdbcType="TIMESTAMP" property="startDate"/>
        <result column="end_date" jdbcType="TIMESTAMP" property="endDate"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="review" jdbcType="VARCHAR" property="review"/>
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
        <result column="is_read" jdbcType="TINYINT" property="isRead"/>
    </resultMap>

    <sql id="BaseColumns">
	  id,platform,account_id,client_id,model,school_id,school_code,school_name,card_number,user_name,app_name,app_package,operator_code,operator_name,operator_status,start_date,end_date,create_date,update_date,remark,review,reason,is_read
	</sql>
    <select id="getApplyLogAllCount" resultType="Integer">
	  SELECT 
	   COUNT(1)
	  FROM t_apply_log 
	</select>

    <select id="findApplyLogInConationPaging" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM t_apply_log
        <where>
            <if test="applyLog.platform !=null">
                AND platform=#{applyLog.platform,jdbcType = TINYINT}
            </if>
            <if test="applyLog.model !=null">
                AND model=#{applyLog.model,jdbcType = TINYINT}
            </if>
            <if test="applyLog.schoolId !=null and applyLog.schoolId!=''">
                AND school_id=#{applyLog.schoolId,jdbcType = BIGINT}
            </if>
            <if test="applyLog.schoolCode !=null and applyLog.schoolCode!=''">
                AND school_code like CONCAT(CONCAT('%',#{applyLog.schoolCode,jdbcType = VARCHAR}),'%')
            </if>
            <if test="applyLog.schoolName !=null and applyLog.schoolName!=''">
                AND school_name like CONCAT(CONCAT('%',#{applyLog.schoolName,jdbcType=VARCHAR}),'%')
            </if>
            <if test="applyLog.cardNumber !=null and applyLog.cardNumber!=''">
                AND card_number like CONCAT(CONCAT('%',#{applyLog.cardNumber,jdbcType = VARCHAR}),'%')
            </if>
            <if test="applyLog.userName !=null and applyLog.userName!=''">
                AND user_name like CONCAT(CONCAT('%',#{applyLog.userName,jdbcType=VARCHAR}),'%')
            </if>
            <if test="applyLog.appName !=null and applyLog.appName!=''">
                AND app_name like CONCAT(CONCAT('%',#{applyLog.appName,jdbcType=VARCHAR}),'%')
            </if>
            <if test="applyLog.operatorCode !=null and applyLog.operatorCode!=''">
                AND operator_code like CONCAT(CONCAT('%',#{applyLog.operatorCode,jdbcType = VARCHAR}),'%')
            </if>
            <if test="applyLog.operatorName !=null and applyLog.operatorName!=''">
                AND operator_name like CONCAT(CONCAT('%',#{applyLog.operatorName,jdbcType=VARCHAR}),'%')
            </if>
            <if test="applyLog.operatorStatus !=null and applyLog.operatorName!=''">
                AND operator_status=#{applyLog.operatorStatus,jdbcType = TINYINT}
            </if>
        </where>
        ORDER BY create_date DESC
    </select>

    <update id="modifyVerifyApplyLog">
        UPDATE t_apply_log
        SET
         operator_code = #{operatorCode},
         operator_name = #{operatorName},
         operator_status = #{operatorStatus},
         review = #{review},
         start_date = #{startDate},
         end_date = #{endDate},
         update_date = NOW(),
         is_read = #{isRead},
         reason = #{reason},
         remark = #{remark}
        WHERE
           school_code =#{schoolCode} and card_number = #{cardNumber} and  id = #{id}
    </update>
</mapper>
