<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.appburied.persistence.AppStatusMapper">

    <resultMap id="BaseResultMap" type="com.bdxh.appburied.entity.AppStatus">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="platform" jdbcType="TINYINT" property="platform"/>
        <result column="account_id" jdbcType="BIGINT" property="accountId"/>
        <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
        <result column="school_code" jdbcType="VARCHAR" property="schoolCode"/>
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
        <result column="card_number" jdbcType="VARCHAR" property="cardNumber"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="app_package" jdbcType="VARCHAR" property="appPackage"/>
        <result column="app_status" jdbcType="TINYINT" property="appStatus"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
    </resultMap>

    <sql id="BaseColumns">
	  id,platform,account_id,school_id,school_code,school_name,card_number,user_name,app_package,app_status,create_date,update_date
	</sql>
    <select id="getAppStatusAllCount" resultType="Integer">
	  SELECT 
	   COUNT(1)
	  FROM t_app_status 
	</select>

    <select id="findAppStatusInConationPaging" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM t_app_status
        <where>
            <if test="appStatus.platform !=null">
                platform=#{appStatus.platform,jdbcType = TINYINT}
            </if>
            <if test="appStatus.schoolId !=null and appStatus.schoolId!=''">
                AND school_id=#{appStatus.schoolId,jdbcType = BIGINT}
            </if>
            <if test="appStatus.schoolName !=null and appStatus.schoolName!=''">
                AND school_name like CONCAT(CONCAT('%',#{appStatus.schoolName,jdbcType = VARCHAR}),'%')
            </if>
            <if test="appStatus.userName !=null and appStatus.userName!=''">
                AND user_name like CONCAT(CONCAT('%',#{appStatus.userName,jdbcType = VARCHAR}),'%')
            </if>
            <if test="appStatus.schoolCode !=null and appStatus.schoolCode!=''">
                AND school_code like CONCAT(CONCAT('%',#{appStatus.schoolCode,jdbcType = VARCHAR}),'%')
            </if>
            <if test="appStatus.cardNumber !=null and appStatus.cardNumber!=''">
                AND card_number like CONCAT(CONCAT('%',#{appStatus.cardNumber,jdbcType = VARCHAR}),'%')
            </if>
            <if test="appStatus.appStatus !=null">
                AND app_status=#{appStatus.appStatus,jdbcType = TINYINT}
            </if>
        </where>

        ORDER BY create_date DESC
    </select>
    <!--
    根据学号和学校Code查询一个学生的所有应用管控信息
    -->
    <select id="findAppStatusInfoBySchoolCodeAndCardNumber" resultMap="BaseResultMap">
        select
        <include refid="BaseColumns"/>
        from t_app_status
        where school_code=#{schoolCode}
        and card_number=#{cardNumber}
    </select>

    <!--
    根据包名查询单个应用的管控信息
    -->
    <select id="finAppStatusInfoByPackage" resultMap="BaseResultMap">
        select
        <include refid="BaseColumns"/>
        from t_app_status
        where school_code=#{schoolCode}
        and card_number=#{cardNumber}
        and app_package=#{appPackage}
    </select>

    <update id="updateAppStatus">
        UPDATE t_app_status
        <set >
            <if test="platform!=null and platform!=''">
                platform = #{platform},
            </if>
            <if test="accountId!=null and accountId!=''">
                account_id = #{accountId},
            </if>
            <if test="userName!=null and userName!=''">
                user_name = #{userName},
            </if>
            <if test="appPackage!=null and appPackage!=''">
                app_package = #{appPackage},
            </if>
            <if test="appStatus!=0 and appStatus!=''">
                app_status = #{appStatus},
            </if>
            <if test="userName!=null and userName!=''">
                user_name = #{userName},
            </if>
                 update_date =NOW()
        </set>
            WHERE
                id = #{id} and
                school_code=#{schoolCode} and
                card_number=#{cardNumber}
    </update>

    <insert id="addAppStatus">
        INSERT INTO bdxh_appburied.t_app_status (
            id,
            platform,
            account_id,
            school_id,
            school_code,
            school_name,
            user_name,
            card_number,
            app_package,
            app_status,
            create_date,
            update_date
        )
        VALUES
            (
                #{id},
                #{platform},
                #{accountId},
                #{schoolId},
                #{schoolCode},
                #{schoolName},
                #{userName},
                #{cardNumber},
                #{appPackage},
                #{appStatus},
                NOW(),
                NOW()
            );
    </insert>
</mapper>
