<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.appburied.persistence.InstallAppsMapper">

    <resultMap id="BaseResultMap" type="com.bdxh.appburied.entity.InstallApps">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="platform" jdbcType="TINYINT" property="platform"/>
        <result column="account_id" jdbcType="BIGINT" property="accountId"/>
        <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
        <result column="school_code" jdbcType="VARCHAR" property="schoolCode"/>
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
        <result column="card_number" jdbcType="VARCHAR" property="cardNumber"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="app_name" jdbcType="VARCHAR" property="appName"/>
        <result column="app_package" jdbcType="VARCHAR" property="appPackage"/>
        <result column="icon_url" jdbcType="VARCHAR" property="iconUrl"/>
        <result column="icon_name" jdbcType="VARCHAR" property="iconName"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
    </resultMap>

    <sql id="BaseColumns">
	  id,platform,account_id,school_id,school_code,school_name,card_number,user_name,app_name,app_package,icon_url,icon_name,create_date
	</sql>
    <select id="getInstallAppsAllCount" resultType="Integer">
	  SELECT 
	   COUNT(1)
	  FROM t_install_apps 
	</select>
    <select id="findInstallAppsInContionPaging" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM t_install_apps
        <where>
            <if test="installApps.platform !=null">
                platform=#{installApps.platform,jdbcType = TINYINT}
            </if>
            <if test="installApps.schoolId !=null and installApps.schoolId!=''">
                AND school_id=#{installApps.schoolId,jdbcType = BIGINT}
            </if>
            <if test="installApps.schoolCode !=null and installApps.schoolCode!=''">
                AND school_code like CONCAT(CONCAT('%',#{installApps.schoolCode,jdbcType = VARCHAR}),'%')
            </if>
            <if test="installApps.schoolName !=null and installApps.schoolName!=''">
                AND school_name like CONCAT(CONCAT('%',#{installApps.schoolName,jdbcType=VARCHAR}),'%')
            </if>
            <if test="installApps.cardNumber !=null and installApps.cardNumber!=''">
                AND card_number like CONCAT(CONCAT('%',#{installApps.cardNumber,jdbcType = VARCHAR}),'%')
            </if>
            <if test="installApps.userName !=null and installApps.userName!=''">
                AND user_name like CONCAT(CONCAT('%',#{installApps.userName,jdbcType=VARCHAR}),'%')
            </if>
            <if test="installApps.appName !=null and installApps.appName!=''">
                AND app_name like CONCAT(CONCAT('%',#{installApps.appName,jdbcType=VARCHAR}),'%')
            </if>
        </where>

        ORDER BY create_date DESC
    </select>

    <insert id="batchSaveInstallAppsInfo">
        INSERT INTO t_install_apps (
        id ,
        platform ,
        account_id ,
        school_id ,
        school_code ,
        school_name ,
        card_number ,
        user_name ,
        app_name ,
        app_package ,
        icon_url ,
        icon_name ,
        create_date
        )
        VALUES
        <foreach collection="list" index="index" separator="," item="appList">
            ( #{appList.id},
            #{appList.platform},
            #{appList.accountId},
            #{appList.schoolId},
            #{appList.schoolCode},
            #{appList.schoolName},
            #{appList.cardNumber},
            #{appList.userName},
            #{appList.appName},
            #{appList.appPackage},
            #{appList.iconUrl},
            #{appList.iconName},
            #{appList.createDate}
            )
        </foreach>
    </insert>

    <!-- 根据应用包名删除应用-->
    <delete id="delByAppPackage">
      DELETE
	   FROM t_install_apps
	  WHERE
	  school_code=#{schoolCode} AND card_number=#{cardNumber} AND app_package=#{appPackage}
    </delete>

    <!--批量删除上报应用 -->
    <delete id="batchDelInstallApps" parameterType="Integer">
        DELETE
        FROM t_install_apps
        WHERE
        id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id, jdbcType = BIGINT}
        </foreach>
    </delete>

    <!-- 根据账户id查询上报应用列表 -->
    <select id="getAccountApplication" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM t_install_apps
        WHERE
        school_code=#{schoolCode} AND card_number=#{cardNumber} AND account_id=#{accountId}
    </select>


</mapper>
