<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.account.persistence.UserDeviceMapper">

	<resultMap id="BaseResultMap" type="com.bdxh.account.entity.UserDevice">
	  <id column="id" jdbcType="BIGINT" property="id"/>
	  <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
	  <result column="school_code" jdbcType="VARCHAR" property="schoolCode"/>
	  <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
	  <result column="group_id" jdbcType="BIGINT" property="groupId"/>
	  <result column="user_id" jdbcType="BIGINT" property="userId"/>
	  <result column="card_number" jdbcType="VARCHAR" property="cardNumber"/>
	  <result column="user_name" jdbcType="VARCHAR" property="userName"/>
	  <result column="imei" jdbcType="VARCHAR" property="imei"/>
	  <result column="client_id" jdbcType="VARCHAR" property="clientId"/>
	  <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
	  <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
	  <result column="remark" jdbcType="VARCHAR" property="remark"/>
	</resultMap>

	<sql id="BaseColumns">
	  id,school_id,school_code,school_name,group_id,user_id,card_number,user_name,imei,client_id,create_date,update_date,remark
	</sql>
	<select id="getUserDeviceAllCount" resultType="Integer">
	  SELECT 
	   COUNT(1)
	  FROM t_user_device 
	</select>

	<delete id="delUserDeviceInIds" parameterType="Integer">
	  DELETE
	   FROM t_user_device
	  WHERE
	   id IN
	     <foreach collection = "ids" item = "id" separator = "," open = "(" close = ")" >
	          #{id, jdbcType = BIGINT}
	     </foreach >
	</delete>

	<select id="getUserDeviceAll" resultMap="BaseResultMap">
		SELECT
		<include refid="BaseColumns"/>
		FROM
		t_user_device
		WHERE school_code=#{schoolCode} AND group_id=#{groupId}
	</select>

	<select id="findUserDeviceByCodeOrCard" resultMap="BaseResultMap">
		SELECT
		<include refid="BaseColumns"/>
		FROM
		t_user_device
		WHERE
		school_code=#{schoolCode} AND card_number=#{cardNumber}
	</select>

</mapper>
