<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.appmarket.persistence.AppCategoryMapper">
  <resultMap id="BaseResultMap" type="com.bdxh.appmarket.entity.AppCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="icon_url" jdbcType="VARCHAR" property="iconUrl" />
    <result column="icon_name" jdbcType="VARCHAR" property="iconName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="operator" jdbcType="BIGINT" property="operator" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <sql id="BaseColumns">
    id, name, icon_url, icon_name,create_date, update_date, operator, operator_name, remark
  </sql>

  <select id="getByCategoryName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select <include refid="BaseColumns"/>
    from t_app_category where name = #{categoryName} limit 1;
  </select>

  <select id="getByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
    select <include refid="BaseColumns"/> from t_app_category
    <where>
      <if test="name!=null and name!=''">
        name LIKE CONCAT(CONCAT('%',#{name},'%'))
      </if>
    </where>
  </select>

</mapper>