<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.appmarket.persistence.AppVersionMapper">

	<resultMap id="BaseResultMap" type="com.bdxh.appmarket.entity.AppVersion">
	  <id column="id" jdbcType="BIGINT" property="id"/>
	  <result column="app_id" jdbcType="BIGINT" property="appId"/>
	  <result column="app_version" jdbcType="VARCHAR" property="appVersion"/>
	  <result column="apk_name" jdbcType="VARCHAR" property="apkName"/>
	  <result column="apk_url" jdbcType="VARCHAR" property="apkUrl"/>
	  <result column="apk_url_name" jdbcType="VARCHAR" property="apkUrlName"/>
	  <result column="apk_size" jdbcType="BIGINT" property="apkSize"/>
	  <result column="apk_desc" jdbcType="VARCHAR" property="apkDesc"/>
	  <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
	  <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
	  <result column="operator" jdbcType="BIGINT" property="operator"/>
	  <result column="operator_name" jdbcType="VARCHAR" property="operatorName"/>
	  <result column="remark" jdbcType="VARCHAR" property="remark"/>
	</resultMap>

	<sql id="BaseColumns">
	  id,app_id,app_version,apk_name,apk_url,apk_url_name,apk_size,apk_desc,create_date,update_date,operator,operator_name,remark
	</sql>
	<select id="getAppVersionAllCount" resultType="Integer">
	  SELECT 
	   COUNT(1)
	  FROM t_app_version 
	</select>

	<delete id="delAppVersionInIds" parameterType="Integer">
	  DELETE
	   FROM t_app_version
	  WHERE
	   id IN
	     <foreach collection = "ids" item = "id" separator = "," open = "(" close = ")" >
	          #{id, jdbcType = BIGINT}
	     </foreach >
	</delete>
<delete id="deleteByAppId">
	delete from t_app_version where app_id=#{id}
</delete>
	<select id="findAppVersion" resultMap="BaseResultMap">
		select <include refid="BaseColumns"/> from t_app_version where app_id=#{id}
	</select>

	<select id="findNewAppVersion" resultMap="BaseResultMap">
		select <include refid="BaseColumns"/> from t_app_version where app_id=#{id}
		order by id DESC LIMIT 0,1 ;
	</select>
</mapper>
