<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.appmarket.persistence.SystemAppMapper">

    <resultMap id="BaseResultMap" type="com.bdxh.appmarket.entity.SystemApp">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="system_app" jdbcType="VARCHAR" property="systemApp"/>
        <result column="system_package" jdbcType="VARCHAR" property="systemPackage"/>
        <result column="system_apk_name" jdbcType="VARCHAR" property="systemApkName"/>
        <result column="system_apk_url" jdbcType="VARCHAR" property="systemApkUrl"/>
        <result column="icon_name" jdbcType="VARCHAR" property="iconName"/>
        <result column="icon_url" jdbcType="VARCHAR" property="iconUrl"/>
        <result column="app_version" jdbcType="VARCHAR" property="appVersion"/>
        <result column="app_desc" jdbcType="VARCHAR" property="appDesc"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="operator" jdbcType="BIGINT" property="operator"/>
        <result column="operator_name" jdbcType="VARCHAR" property="operatorName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <sql id="BaseColumns">
	  id,system_app,system_package,system_apk_name,system_apk_url,icon_name,icon_url,app_version,app_desc,create_date,update_date,operator,operator_name,remark
	</sql>
    <select id="getSystemAppAllCount" resultType="Integer">
	  SELECT 
	   COUNT(1)
	  FROM t_system_app 
	</select>

    <delete id="delSystemAppInIds" parameterType="Integer">
        DELETE
        FROM t_system_app
        WHERE
        id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id, jdbcType = BIGINT}
        </foreach>
    </delete>

    <select id="findAppControl" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM
        t_system_app
        <where>
            <if test="systemApp!=null and systemApp!=''">
                system_app LIKE CONCAT(CONCAT('%',#{systemApp}),'%')
            </if>
            <if test="systemPackage!=null and systemPackage!=''">
                and system_package LIKE CONCAT(CONCAT('%',#{systemPackage}),'%')
            </if>
        </where>
        ORDER BY create_date DESC
    </select>

    <select id="versionUpdating" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM t_system_app
        order by create_date DESC LIMIT 1 ;
    </select>


</mapper>
