<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.order.persistence.OrderMapper">
    <resultMap id="BaseResultMap" type="com.bdxh.order.entity.Order">
        <result column="order_no" jdbcType="BIGINT" property="orderNo"/>
        <result column="third_order_no" jdbcType="VARCHAR" property="thirdOrderNo"/>
        <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
        <result column="school_code" jdbcType="VARCHAR" property="schoolCode"/>
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="card_number" jdbcType="VARCHAR" property="cardNumber"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_type" jdbcType="TINYINT" property="userType"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="total_money" jdbcType="DECIMAL" property="totalMoney"/>
        <result column="order_money" jdbcType="DECIMAL" property="orderMoney"/>
        <result column="pay_money" jdbcType="DECIMAL" property="payMoney"/>
        <result column="trade_status" jdbcType="TINYINT" property="tradeStatus"/>
        <result column="pay_status" jdbcType="TINYINT" property="payStatus"/>
        <result column="business_status" jdbcType="TINYINT" property="businessStatus"/>
        <result column="business_type" jdbcType="TINYINT" property="businessType"/>
        <result column="pay_type" jdbcType="TINYINT" property="payType"/>
        <result column="trade_type" jdbcType="TINYINT" property="tradeType"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="pay_end_time" jdbcType="TIMESTAMP" property="payEndTime"/>
        <result column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="operator" jdbcType="BIGINT" property="operator"/>
        <result column="operator_name" jdbcType="VARCHAR" property="operatorName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <sql id="BaseColumns">
	order_no,third_order_no,school_id,school_code,school_name,user_id,card_number,user_name,user_type,open_id,total_money,order_money,pay_money,trade_status,pay_status,business_status,business_type,pay_type,trade_type,pay_time,pay_end_time,product_id,create_date,update_date,operator,operator_name,remark
	</sql>

    <select id="getOrderByCondition"  resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM t_order
        <where>
            <if test="order.orderNo!=null">
                AND order_no=#{order.orderNo}
            </if>
            <if test="order.schoolCode!=null and order.schoolCode!=''">
                AND school_code=#{order.schoolCode}
            </if>
            <if test="order.userId!=null">
                AND user_id=#{order.userId}
            </if>
            <if test="order.cardNumber!=null and order.cardNumber!=''">
                AND card_number LIKE CONCAT(CONCAT('%',#{order.cardNumber},'%'))
            </if>
        </where>
        ORDER BY create_date DESC
    </select>




    <delete id="deleteByOrderId" parameterType="java.util.Map">
		delete  from t_order where school_code=#{SchoolCode} and user_id=#{UserId} and order_no=#{OrderNo}
	</delete>


</mapper>