<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.user.persistence.FamilyMapper">
    <resultMap id="BaseResultMap" type="com.bdxh.user.entity.Family">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
        <result column="school_code" jdbcType="VARCHAR" property="schoolCode"/>
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="gender" jdbcType="TINYINT" property="gender"/>
        <result column="birth" jdbcType="CHAR" property="birth"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="card_number" jdbcType="VARCHAR" property="cardNumber"/>
        <result column="idcard" jdbcType="VARCHAR" property="idcard"/>
        <result column="qq_number" jdbcType="VARCHAR" property="qqNumber"/>
        <result column="wx_number" jdbcType="VARCHAR" property="wxNumber"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="nation_name" jdbcType="VARCHAR" property="nationName"/>
        <result column="adress" jdbcType="VARCHAR" property="adress"/>
        <result column="physical_number" jdbcType="VARCHAR" property="physicalNumber"/>
        <result column="physical_chip_number" jdbcType="VARCHAR" property="physicalChipNumber"/>
        <result column="activate" jdbcType="TINYINT" property="activate"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="operator" jdbcType="BIGINT" property="operator"/>
        <result column="operator_name" jdbcType="VARCHAR" property="operatorName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="image_name" jdbcType="VARCHAR" property="imageName"/>
    </resultMap>

    <sql id="familyColumn">
        id,school_id,school_code,school_name,name,gender,birth,phone,card_number,idcard,
        qq_number,wx_number,email,image,nation_name,adress,physical_number,physical_chip_number,
        activate,create_date,update_date,operator,operator_name,remark,image_name
    </sql>

    <!-- 查询所有家长数据 -->
    <select id="selectAllFamilyInfo" resultMap="BaseResultMap">
        select
        <include refid="familyColumn"/>
        from t_family
        <where>
            <if test="familyQueryDto.schoolName!=null and familyQueryDto.schoolName!=''">
                AND school_name LIKE CONCAT('%',CONCAT(#{familyQueryDto.schoolName},'%'))
            </if>
            <if test="familyQueryDto.schoolCode!=null and familyQueryDto.schoolCode!=''">
                AND school_code = #{familyQueryDto.schoolCode}
            </if>
            <if test="familyQueryDto.name!=null and familyQueryDto.name!=''">
                AND name LIKE CONCAT('%',CONCAT(#{familyQueryDto.name},'%'))
            </if>
            <if test="familyQueryDto.phone!=null and familyQueryDto.phone!=''">
                AND phone LIKE CONCAT('%',CONCAT(#{familyQueryDto.phone},'%'))
            </if>
            <if test="familyQueryDto.activate!=null and familyQueryDto.activate!=''">
                AND activate =#{familyQueryDto.activate}
            </if>
            <if test="familyQueryDto.cardNumber!=null and familyQueryDto.cardNumber!=''">
                AND card_number LIKE CONCAT('%',CONCAT(#{familyQueryDto.cardNumber},'%'))
            </if>

        </where>
        order by create_date desc
    </select>

    <!-- 根据条件查询出家长详细信息 -->
    <select id="selectByCodeAndCard" resultType="com.bdxh.user.vo.FamilyVo" parameterType="java.lang.String">
        SELECT
         id,
         `name` AS `name`,
         gender AS fGender,
         phone,
         image,
         image_name as imageName,
         birth,
         remark,
         school_id AS schoolId,
         school_code AS schoolCode,
         card_number AS cardNumber,
         create_date AS createDate,
         activate,
         school_name AS schoolName
        FROM t_family
        where school_code=#{schoolCode}
           and card_number=#{cardNumber}
     </select>

    <!--批量删除家长信息-->
    <delete id="batchRemoveFamilyInfo">
        delete from t_family where (school_code,card_number)in
        <foreach collection="list" separator="," open="(" close=")" item="list">
            (#{list.schoolCode},#{list.cardNumber})
        </foreach>
    </delete>

    <!-- 删除家长信息-->
    <delete id="removeFamilyInfo">
     DELETE FROM t_family
     WHERE school_code=#{schoolCode}
     AND card_number=#{cardNumber}
    </delete>

    <!--  修改家长信息     -->
    <update id="updateFamilyInfo">
        UPDATE t_family
        SET
        <if test="family.name!=null and family.name!=''">
            `name`=#{family.name},
        </if>
        <if test="family.gender!=null and family.gender!=''">
            `gender`=#{family.gender},
        </if>
        <if test="family.birth!=null and family.birth!=''">
            `birth`=#{family.birth},
        </if>
        <if test="family.phone!=null and family.phone!=''">
            phone=#{family.phone},
        </if>
        <if test="family.idcard!=null and family.idcard!=''">
            `idcard`=#{family.idcard},
        </if>
        <if test="family.qqNumber!=null and family.qqNumber!=''">
            `qq_number`=#{family.qqNumber},
        </if>
        <if test="family.wxNumber!=null and family.wxNumber!=''">
            `wx_number`=#{family.wxNumber},
        </if>
        <if test="family.email!=null and family.email!=''">
            `email`=#{family.email},
        </if>
        <if test="family.image!=null and family.image!=''">
            `image`=#{family.image},
        </if>
        <if test="family.imageName!=null and family.imageName!=''">
            `image_name`=#{family.imageName},
        </if>
        <if test="family.nationName!=null and family.nationName!=''">
            `nation_name`=#{family.nationName},
        </if>
        <if test="family.adress!=null and family.adress!=''">
            `adress`=#{family.adress},
        </if>
        <if test="family.physicalNumber!=null and family.physicalNumber!=''">
            `physical_number`=#{family.physicalNumber},
        </if>
        <if test="family.physicalChipNumber!=null and family.physicalChipNumber!=''">
            `physical_chip_number`=#{family.physicalChipNumber},
        </if>
        <if test="family.activate!=0">
            `activate`=#{family.activate},
        </if>
        <if test="family.operator!=null and family.operator!=''">
            `operator`=#{family.operator},
        </if>
        <if test="family.operatorName!=null and family.operatorName!=''">
            `operator_name`=#{family.operatorName},
        </if>
        <if test="family.remark!=null and family.remark!=''">
            `remark`=#{family.remark},
        </if>
        `update_date`=NOW()
        WHERE `school_code`=#{family.schoolCode} AND card_number=#{family.cardNumber};
    </update>

    <!--批量新增家长-->
    <insert id="batchSaveFamilyInfo">
        INSERT INTO t_family (
        id ,
        school_id ,
        school_code ,
        school_name ,
        name ,
        gender ,
        birth ,
        phone ,
        card_number ,
        idcard ,
        qq_number ,
        wx_number ,
        email ,
        image ,
        image_name ,
        nation_name ,
        adress ,
        physical_number ,
        physical_chip_number ,
        activate ,
        create_date ,
        update_date ,
        operator ,
        operator_name ,
        remark
        )
        VALUES
        <foreach collection="list" index="index" separator="," item="familyList">
            ( #{familyList.id},
            #{familyList.schoolId},
            #{familyList.schoolCode},
            #{familyList.schoolName},
            #{familyList.name},
            #{familyList.gender},
            #{familyList.birth},
            #{familyList.phone},
            #{familyList.cardNumber},
            #{familyList.idcard},
            #{familyList.qqNumber},
            #{familyList.wxNumber},
            #{familyList.email},
            #{familyList.image},
            #{familyList.imageName},
            #{familyList.nationName},
            #{familyList.adress},
            #{familyList.physicalNumber},
            #{familyList.physicalChipNumber},
            #{familyList.activate},
            #{familyList.createDate},
            #{familyList.updateDate},
            #{familyList.operator},
            #{familyList.operatorName},
            #{familyList.remark}
            )
        </foreach>
    </insert>

    <!--根据学校Code查询卡号-->
    <select id="queryFamilyCardNumberBySchoolCode" resultType="java.lang.String">
        select card_number from t_family where school_code=#{schoolCode}
    </select>


    <update id="updateSchoolName">
		    update t_family
            set school_name=#{schoolName}
            where school_code=#{schoolCode}
	</update>

    <select id="findFamilyInfo" resultMap="BaseResultMap">
        select <include refid="familyColumn"/> from t_family
        where school_code=#{schoolCode} and card_number=#{cardNumber}
    </select>



</mapper>