<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.user.mapper.FenceAlarmMapper">

	<resultMap id="BaseResultMap" type="com.bdxh.user.entity.FenceAlarm">
	  <id column="id" jdbcType="BIGINT" property="id"/>
	  <result column="fence_id" jdbcType="INTEGER" property="fenceId"/>
	  <result column="fence_name" jdbcType="VARCHAR" property="fenceName"/>
	  <result column="type" jdbcType="TINYINT" property="type"/>
	  <result column="monitored_person" jdbcType="VARCHAR" property="monitoredPerson"/>
	  <result column="action" jdbcType="VARCHAR" property="action"/>
	  <result column="alarm_point" jdbcType="VARCHAR" property="alarmPoint"/>
	  <result column="pre_point" jdbcType="VARCHAR" property="prePoint"/>
	  <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
	  <result column="school_code" jdbcType="VARCHAR" property="schoolCode"/>
	  <result column="student_id" jdbcType="BIGINT" property="studentId"/>
	  <result column="card_number" jdbcType="VARCHAR" property="cardNumber"/>
	  <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
	  <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
	  <result column="remark" jdbcType="VARCHAR" property="remark"/>
	</resultMap>

	<sql id="BaseColumns">

	  id,fence_id,fence_name,type,monitored_person,action,alarm_point,pre_point,school_id,school_code,student_id,card_number,create_date,update_date,remark
	</sql>
	<!-- 查询所有围栏警报信息 -->
	<select id="getAllFenceAlarmInfos" resultType="com.bdxh.user.vo.FenceAlarmVo">
		SELECT
		tFenceAlarm.id as id,
		tFenceAlarm.fence_id as fenceId,
		tFenceAlarm.fence_name as fenceName,
		tFenceAlarm.type as type,
		tFenceAlarm.monitored_person as monitoredPerson,
		tFenceAlarm.action as action,
		tFenceAlarm.alarm_point as alarmPoint,
		tFenceAlarm.pre_point as prePoint,
		tFenceAlarm.school_id as schoolId,
		tFenceAlarm.school_code as schoolCode,
		tFenceAlarm.student_id as studentId
		tFenceAlarm.card_number as cardNumber,
		tFenceAlarm.create_date as createDate,
		tFenceAlarm.update_date as updateDate,
		tFenceAlarm.remark as remark,
		tStudent.name as studentName,
		tStudent.school_name as schoolName
		FROM
		t_fence_alarm as tFenceAlarm inner join t_student as tStudent on tFenceAlarm.student_id = tStudent.id
		<where>
			<if test="fenceName!=null and fenceName!=''">
				AND tFenceAlarm.fence_name like  CONCAT('%',CONCAT(#{fenceAlarmQueryDto.fenceName, jdbcType = VARCHAR},'%'))
			</if>
			<if test="type!=null and type!=''">
				AND tFenceAlarm.type =#{fenceAlarmQueryDto.type}
			</if>
			<if test="monitoredPerson!=null and monitoredPerson!=''">
				AND tStudent.monitored_person like  CONCAT('%',CONCAT(#{fenceAlarmQueryDto.monitoredPerson, jdbcType = VARCHAR},'%'))
			</if>
			<if test="schoolCode!=null and schoolCode!=''">
				AND tFenceAlarm.school_code =#{fenceAlarmQueryDto.schoolCode, jdbcType = VARCHAR}
			</if>
			<if test="cardNumber!=null and cardNumber!=''">
				AND tFenceAlarm.card_number =  #{fenceAlarmQueryDto.cardNumber, jdbcType = VARCHAR}
			</if>
			<if test="studentName!=null and studentName!=''">
				AND tStudent.name like  CONCAT('%',CONCAT(#{fenceAlarmQueryDto.studentName, jdbcType = VARCHAR},'%'))
			</if>
		</where>
		order by tFenceAlarm.create_date desc
	</select>

	<!--根据条件查询单个学生围栏警报信息-->
	<select id="getFenceAlarmInfo" resultType="com.bdxh.user.vo.FenceAlarmVo">
		SELECT
		tFenceAlarm.id as id,
		tFenceAlarm.fence_id as fenceId,
		tFenceAlarm.fence_name as fenceName,
		tFenceAlarm.type as type,
		tFenceAlarm.monitored_person as monitoredPerson,
		tFenceAlarm.action as action,
		tFenceAlarm.alarm_point as alarmPoint,
		tFenceAlarm.pre_point as prePoint,
		tFenceAlarm.school_id as schoolId,
		tFenceAlarm.school_code as schoolCode,
		tFenceAlarm.student_id as studentId
		tFenceAlarm.card_number as cardNumber,
		tFenceAlarm.create_date as createDate,
		tFenceAlarm.update_date as updateDate,
		tFenceAlarm.remark as remark,
		tStudent.name as studentName,
		tStudent.school_name as schoolName
		FROM
		t_fence_alarm as tFenceAlarm inner join t_student as tStudent on tFenceAlarm.student_id = tStudent.id
		where tFenceAlarm.school_code =#{schoolCode} and tFenceAlarm.card_number=#{cardNumber} and tFenceAlarm.id=#{id}
	</select>

	<!--删除学生围栏警报信息-->
	<delete id="removeFenceAlarmInfo">
		DELETE FROM t_fence_alarm WHERE id =#{id} and school_code =#{schoolCode, jdbcType = VARCHAR} AND card_number=#{cardNumber, jdbcType = VARCHAR}
	</delete>

	<!--批量删除学生围栏警报信息-->
	<delete id="batchRemoveFenceAlarmInfo">
		DELETE FROM t_fence_alarm WHERE (id,school_code,card_number)IN
		<foreach collection="list" separator="," open="(" close=")" item="list" >
			(#{list.id}#{list.schoolCode,jdbcType = VARCHAR},#{list.cardNumber, jdbcType = VARCHAR})
		</foreach>
	</delete>

	<!--修改学生围栏警报信息-->
	<update id="updateFenceAlarmInfo">
			UPDATE t_fence_alarm
				SET
			<if test="fenceId!=null and fenceId!=''">
				fence_id = #{fenceId},
			</if>
			<if test="fenceName!=null and fenceName!=''">
				fence_name = #{fenceName},
			</if>
			<if test="type!=null and type!=''">
				type = #{type},
			</if>
			<if test="monitoredPerson!=null and monitoredPerson!=''">
				monitored_person = #{monitoredPerson},
			</if>
			<if test="action!=null and action!=''">
				action = #{action},
			</if>
			<if test="alarmPoint!=null and alarmPoint!=''">
				alarm_point = #{alarmPoint},
			</if>
			<if test="prePoint!=null and prePoint!=''">
				pre_point = #{prePoint},
			</if>
			<if test="remark!=null and remark!=''">
				remark = #{remark},
			</if>
				 update_date = NOW(),
			WHERE
				school_code=#{schoolCode}
				and card_number=#{cardNumber}
				and id=#{id}
	</update>

</mapper>
