<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.user.persistence.VisitLogsMapper">

	<resultMap id="BaseResultMap" type="com.bdxh.user.entity.VisitLogs">
	  <id column="id" jdbcType="BIGINT" property="id"/>
	  <result column="school_id" jdbcType="INTEGER" property="schoolId"/>
	  <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
	  <result column="school_code" jdbcType="CHAR" property="schoolCode"/>
		<result column="student_id" jdbcType="BIGINT" property="studentId"/>
	  <result column="card_number" jdbcType="VARCHAR" property="cardNumber"/>
	  <result column="user_name" jdbcType="VARCHAR" property="userName"/>
	  <result column="url" jdbcType="VARCHAR" property="url"/>
	  <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
	  <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
	  <result column="status" jdbcType="TINYINT" property="status"/>
	  <result column="remark" jdbcType="VARCHAR" property="remark"/>
	</resultMap>

	<sql id="BaseColumns">
	  id,school_id,school_name,school_code,student_id,card_number,user_name,url,create_date,update_date,status,remark
	</sql>

<!--	查询所有学生访问日志记录信息
	<select id="getVisitLogsInfos">
		SELECT
		<include refid="BaseColumns" />
		FROM
		t_visit_logs
		<where>
			<if test="schoolName!=null and schoolName!=''">
				and school_name like CONCAT('%',CONCAT(#{schoolName},'%'))
			</if>
			<if test="userName!=null and userName!=''">
				and user_name like CONCAT('%',CONCAT(#{userName},'%'))
			</if>
			<if test="status!=null and status!=''">
                and status =status
			</if>
			<if test="schoolCode!=null and schoolCode!=''">
				AND school_code =#{schoolCode, jdbcType = VARCHAR}
			</if>
			<if test="cardNumber!=null and cardNumber!=''">
				AND card_number =  #{cardNumber, jdbcType = VARCHAR}
			</if>
		</where>
		order by create_date desc
	</select>

	&lt;!&ndash;根据条件查询单个学生访问日志记录信息&ndash;&gt;
	<select id="getVisitLogsInfo">
		SELECT
		<include refid="BaseColumns" />
		FROM
		t_visit_logs where school_code=#{schoolCode} and card_number=#{cardNumber} and id=#{id}
	</select>

	&lt;!&ndash;修改学生访问日志记录信息&ndash;&gt;
	<update id="updateVisitLogsInfo">
		UPDATE t_visit_logs
		SET
		<if test="url!=null and url!=''">
			url=#{url},
		</if>
		<if test="status!=null and status!=''">
			status=#{status},
		</if>
		<if test="remark!=null and remark!=''">
			remark=#{remark},
		</if>
		 update_date =NOW()
		WHERE
			id = #{id} and school_code=#{schoolCode} and card_number=#{cardNumber}
	</update>

	&lt;!&ndash;删除学生访问日志记录信息&ndash;&gt;
	<delete id="removeVisitLogsInfo">
		delete from t_visit_logs WHERE
		id = #{id} and school_code=#{schoolCode} and card_number=#{cardNumber}
	</delete>

	&lt;!&ndash;批量删除学生访问日志记录信息&ndash;&gt;
	<delete id="batchRemoveVisitLogsInfo">
		  delete from t_visit_logs where (id,schoo_code,card_number) in
		<foreach collection="list" separator="," open="(" close=")" item="list" >
			(#{list.id},#{list.schoolCode},#{list.cardNumber})
		</foreach>

	</delete>-->
</mapper>
