<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.school.persistence.SchoolClassMapper">
    <resultMap id="BaseResultMap" type="com.bdxh.school.entity.SchoolClass">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="parent_ids" jdbcType="VARCHAR" property="parentIds"/>
        <result column="parent_names" jdbcType="VARCHAR" property="parentNames"/>
        <result column="this_url" jdbcType="VARCHAR" property="thisUrl"/>
        <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
        <result column="school_code" jdbcType="VARCHAR" property="schoolCode"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="level" jdbcType="TINYINT" property="level"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="operator" jdbcType="BIGINT" property="operator"/>
        <result column="operator_name" jdbcType="VARCHAR" property="operatorName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <sql id="Base_Column_List">
    id,parent_id,parent_ids,parent_names,this_url,school_id,school_code,`name`,`type`,
    `level`,sort,create_date,update_date,operator,operator_name,remark
    </sql>

    <delete id="batchDelSchoolClassInIds">
        DELETE
        FROM
        t_school_class
        WHERE
        id IN
        <foreach collection="ids" item="empId" separator="," open="(" close=")">
            #{empId,jdbcType=BIGINT}
        </foreach>
    </delete>
    <delete id="delSchoolClassBySchoolId">
        DELETE
        FROM
        t_school_class
        WHERE
        school_id=#{schoolId,jdbcType=BIGINT}
    </delete>
    <select id="findSchoolClassBySchoolClass" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_school_class
        <where>
            <if test="schoolClass.id!=0">
                and id=#{schoolClass.id}
            </if>
            <if test="schoolClass.parentId!=null and schoolClass.parentId!=''">
            and parent_id=#{schoolClass.parentId}
            </if>
            <if test="schoolClass.parentIds!=null and schoolClass.parentIds!=''">
                and parent_ids=#{schoolClass.parentIds}
            </if>
            <if test="schoolClass.parentNames!=null and schoolClass.parentNames!=''">
                and parent_names=#{schoolClass.parentNames}
            </if>
            <if test="schoolClass.thisUrl!=null and schoolClass.thisUrl!=''">
                and this_url=#{schoolClass.thisUrl}
            </if>
            <if test="schoolClass.schoolId!=null and schoolClass.schoolId!=''">
                and school_id=#{schoolClass.schoolId}
            </if>
            <if test="schoolClass.schoolCode!=null and schoolClass.schoolCode!=''">
                and school_code=#{schoolClass.schoolCode}
            </if>
             limit 1;
        </where>

    </select>
    <select id="findSchoolByParentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_school_class
        where parent_id=#{parentId}
    </select>

    <select id="queryClassBySchoolCode" resultMap="BaseResultMap">
       select  <include refid="Base_Column_List"/>
        from t_school_class
        where school_code=#{schoolCode} and t_school_class.type="5"
    </select>
</mapper>