<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.school.persistence.SchoolMapper">
    <resultMap id="BaseResultMap" type="com.bdxh.school.entity.School">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="school_code" jdbcType="CHAR" property="schoolCode"/>
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
        <result column="school_area_code" jdbcType="VARCHAR" property="schoolAreaCode"/>
        <result column="school_area" jdbcType="VARCHAR" property="schoolArea"/>
        <result column="school_address" jdbcType="VARCHAR" property="schoolAddress"/>
        <result column="school_logo" jdbcType="VARCHAR" property="schoolLogo"/>
        <result column="school_logo_name" jdbcType="VARCHAR" property="schoolLogoName"/>
        <result column="school_type" jdbcType="TINYINT" property="schoolType"/>
        <result column="school_nature" jdbcType="VARCHAR" property="schoolNature"/>
        <result column="teacher_nums" jdbcType="INTEGER" property="teacherNums"/>
        <result column="student_nums" jdbcType="INTEGER" property="studentNums"/>
        <result column="school_contact" jdbcType="VARCHAR" property="schoolContact"/>
        <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone"/>
        <result column="contact_position" jdbcType="VARCHAR" property="contactPosition"/>
        <result column="school_key" jdbcType="VARCHAR" property="schoolKey"/>
        <result column="school_secret" jdbcType="VARCHAR" property="schoolSecret"/>
        <result column="app_key" jdbcType="VARCHAR" property="appKey"/>
        <result column="app_secret" jdbcType="VARCHAR" property="appSecret"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="operator" jdbcType="BIGINT" property="operator"/>
        <result column="operator_name" jdbcType="VARCHAR" property="operatorName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,school_code,school_name,school_area_code,school_area,school_address,school_logo,school_logo_name,school_type,
        school_nature,teacher_nums,student_nums,school_contact,contact_phone,contact_position,
        school_key,school_secret,app_key,app_secret,create_date,update_date,operator,operator_name,remark
    </sql>

    <select id="findIdsInCondition" resultMap="BaseResultMap" parameterType="com.bdxh.school.dto.SchoolQueryDto">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        t_school
        <where>
            <if test="schoolDto.schoolCode !=null and schoolDto.schoolCode!=''">
                `school_code` LIKE CONCAT(CONCAT('%',#{schoolDto.schoolCode,jdbcType=VARCHAR}),'%')
            </if>
            <if test="schoolDto.schoolName !=null and schoolDto.schoolName!=''">
                AND `school_name` LIKE CONCAT(CONCAT('%',#{schoolDto.schoolName,jdbcType=VARCHAR}),'%')
            </if>
            <if test="schoolDto.schoolType !=null and schoolDto.schoolType!=0">
                AND `school_type` = #{schoolDto.schoolType,jdbcType=TINYINT}
            </if>
            <if test="schoolDto.schoolNature !=null and schoolDto.schoolNature!=''">
                AND `school_nature` = #{schoolDto.schoolNature,jdbcType=VARCHAR}
            </if>
            <if test="schoolDto.text !=null and schoolDto.text!=''">
                AND
                (
                `school_area` LIKE CONCAT(CONCAT('%',#{schoolDto.text,jdbcType=VARCHAR}),'%')
                OR
                `school_address` LIKE CONCAT(CONCAT('%',#{schoolDto.text,jdbcType=VARCHAR}),'%')
                )
            </if>
        </where>
        Order BY create_date DESC
    </select>

    <select id="findSchoolInIds" resultMap="BaseResultMap">

        SELECT
        <include refid="Base_Column_List"/>
        FROM
        t_school
        WHERE
        id IN
        <foreach collection="ids" item="empId" separator="," open="(" close=")">
            #{empId,jdbcType=BIGINT}
        </foreach>
    </select>

    <delete id="batchDelSchool">
        DELETE
        FROM
        t_school
        WHERE
        id IN
        <foreach collection="ids" item="empId" separator="," open="(" close=")">
            #{empId,jdbcType=BIGINT}
        </foreach>
    </delete>

    <select id="findSchoolBySchoolCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_school where school_code =#{schoolCode}
    </select>

    <!--查询各地区对应的学校数量-->
    <select id="querySchoolNumByArea" resultType="com.bdxh.school.vo.BaseEchartsVo">
        select SUBSTRING_INDEX(school_area,'/',1) as `name`,count(SUBSTRING_INDEX(school_area,'/',1)) as `value`
        FROM t_school GROUP BY SUBSTRING_INDEX(school_area,'/',1);
    </select>

</mapper>