<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.school.persistence.SchoolStrategyMapper">

    <resultMap id="BaseResultMap" type="com.bdxh.school.entity.SchoolStrategy">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="policy_name" jdbcType="VARCHAR" property="policyName"/>
        <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
        <result column="school_code" jdbcType="VARCHAR" property="schoolCode"/>
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
        <result column="group_id" jdbcType="BIGINT" property="groupId"/>
        <result column="recursion_permission" jdbcType="TINYINT" property="recursionPermission"/>
        <result column="recursion_permission_ids" jdbcType="VARCHAR" property="recursionPermissionIds"/>
        <result column="priority" jdbcType="TINYINT" property="priority"/>
        <result column="model_id" jdbcType="BIGINT" property="modelId"/>
        <result column="start_date" jdbcType="TIMESTAMP" property="startDate"/>
        <result column="end_date" jdbcType="TIMESTAMP" property="endDate"/>
        <result column="day_mark" jdbcType="VARCHAR" property="dayMark"/>
        <result column="time_mark" jdbcType="VARCHAR" property="timeMark"/>
        <result column="exclusion_days" jdbcType="VARCHAR" property="exclusionDays"/>
        <result column="push_state" jdbcType="TINYINT" property="pushState"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="operator" jdbcType="BIGINT" property="operator"/>
        <result column="operator_name" jdbcType="VARCHAR" property="operatorName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <resultMap id="BResultMap" type="com.bdxh.school.dto.QuerySchoolStrategy">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="policy_name" jdbcType="VARCHAR" property="policyName"/>
        <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
        <result column="school_code" jdbcType="VARCHAR" property="schoolCode"/>
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
        <result column="group_id" jdbcType="BIGINT" property="groupId"/>
        <result column="recursion_permission" jdbcType="TINYINT" property="recursionPermission"/>
        <result column="recursion_permission_ids" jdbcType="VARCHAR" property="recursionPermissionIds"/>
        <result column="priority" jdbcType="TINYINT" property="priority"/>
        <result column="model_id" jdbcType="BIGINT" property="modelId"/>
        <result column="start_date" jdbcType="TIMESTAMP" property="startDate"/>
        <result column="end_date" jdbcType="TIMESTAMP" property="endDate"/>
        <result column="day_mark" jdbcType="VARCHAR" property="dayMark"/>
        <result column="time_mark" jdbcType="VARCHAR" property="timeMark"/>
        <result column="exclusion_days" jdbcType="VARCHAR" property="exclusionDays"/>
        <result column="push_state" jdbcType="TINYINT" property="pushState"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="operator" jdbcType="BIGINT" property="operator"/>
        <result column="operator_name" jdbcType="VARCHAR" property="operatorName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="name" jdbcType="VARCHAR" property="groupName"/>
        <result column="model_name" jdbcType="VARCHAR" property="modelName"/>
        <result column="platform" jdbcType="VARCHAR" property="platform"/>
    </resultMap>


	<sql id="BaseColumns">
	id,policy_name,school_id,school_code,school_name,group_id,recursion_permission,recursion_permission_ids,priority,model_id,start_date,end_date,day_mark,time_mark,exclusion_days,push_state,create_date,update_date,operator,operator_name,remark
	</sql>
	<select id="getSchoolStrategyAllCount" resultType="Integer">
        SELECT 
        COUNT(1)
        FROM t_school_strategy 
	</select>

	<delete id="delSchoolStrategyInIds" parameterType="Integer">
        DELETE
        FROM t_school_strategy
        WHERE
        id IN
        <foreach collection = "ids" item = "empId" separator = "," open = "(" close = ")" >
             #{mpId, jdbcType = BIGINT}
        </foreach >
	</delete>

    <!--带条件的分页查询-->
    <select id="getByCondition" resultMap="BResultMap" parameterType="java.util.Map" >
        SELECT t_school_strategy.*,t_school_class.*,t_school_mode.*
        FROM
        t_school_strategy
        LEFT JOIN  t_school_mode ON t_school_strategy.model_id = t_school_mode.id
        LEFT JOIN t_school_class ON t_school_strategy.group_id = t_school_class.id
        <where>
            <if test="policyName !=null and policyName !=''">
                AND t_school_strategy.policy_name LIKE CONCAT(CONCAT('%',#{policyName}),'%')
            </if>
            <if test="schoolName !=null and schoolName!=''">
                AND t_school_strategy.school_name LIKE CONCAT(CONCAT('%',#{schoolName}),'%')
            </if>
            <if test="schoolCode !=null and schoolCode!=''">
                AND t_school_strategy.school_code=#{schoolCode}
            </if>
            <if test="pushState !=null">
                AND t_school_strategy.push_state=#{pushState}
            </if>
            <if test="platform !=null and platform!=''">
                AND t_school_mode.platform =#{platform}
            </if>
        </where>
        ORDER BY t_school_strategy.create_date DESC
    </select>

    <select id="getByPriority" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="BaseColumns"/>
        FROM
        t_school_strategy
        WHERE
        school_code=#{schoolCode} AND priority=#{priority}
    </select>

    <select id="getStrategyList" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="BaseColumns"/>
        FROM
        t_school_strategy
        WHERE
        school_code=#{schoolCode} and push_state=#{pushState}
        ORDER BY priority
    </select>

    <insert id="addSchoolStrategy" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_school_strategy(policy_name,school_id,school_code,school_name,group_id,recursion_permission,recursion_permission_ids,priority,model_id,start_date,end_date,day_mark,time_mark,exclusion_days,push_state,create_date,update_date,operator,operator_name,remark)
        VALUES(#{policyName},#{schoolId},#{schoolCode},#{schoolName},#{groupId},#{recursionPermission},#{recursionPermissionIds},#{priority},#{modelId},#{startDate},#{endDate},#{dayMark},#{timeMark},#{exclusionDays},#{pushState},#{createDate},#{updateDate},#{operator},#{operatorName},#{remark})
    </insert>

    <select id="findStrategyById" resultMap="BResultMap" parameterType="java.util.Map">
    SELECT t_school_strategy.*,t_school_mode.*
        FROM
        t_school_strategy
        INNER JOIN  t_school_mode ON t_school_strategy.model_id = t_school_mode.id
     WHERE t_school_strategy.id=#{id}
    </select>

</mapper>
