<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.school.persistence.SchoolRolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.bdxh.school.entity.SchoolRolePermission">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="school_id" jdbcType="BIGINT" property="schoolId"/>
        <result column="school_code" jdbcType="CHAR" property="schoolCode"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="permission_id" jdbcType="BIGINT" property="permissionId"/>
    </resultMap>

    <sql id="BaseColumns">
    id,school_id,school_code,role_id,permission_id
    </sql>

    <delete id="deleteByRoleId" parameterType="java.lang.Long">
        DELETE FROM
           t_school_role_permission
        WHERE role_id = #{roleId,jdbcType=BIGINT}
    </delete>

    <select id="findPermissionIdByRoleId" resultType="java.lang.Long">
      SELECT
      permission_id
      FROM t_school_role_permission WHERE role_id = #{roleId,jdbcType=BIGINT}
    </select>

    <select id="findPermissionId" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM t_school_role_permission WHERE role_id = #{roleId,jdbcType=BIGINT}
    </select>

    <select id="findPermissionList" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM t_school_role_permission
        WHERE role_id = #{roleId}
    </select>

    <delete id="delBatchRoleByRoleIds">
        DELETE
        FROM
        t_school_role_permission
        WHERE
        role_id IN
        <foreach collection="roleIds" item="empId" separator="," open="(" close=")">
            #{empId,jdbcType=BIGINT}
        </foreach>
    </delete>


</mapper>